@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1020px) and (max-width: 1320px) {
  .heading {
      font-size: 20px;
  }
}
@media (min-width: 200px) and (max-width: 300px) {
  .screen-size {
      font-size: 8px;
      font-weight: bold;
  }
}
